/*----------------Contenedores----------------*/

#container{
	width: 100%;
	text-align: center;
	margin: 0 auto;
	height: 565px;
}

#content{
	overflow-y: scroll;
	height: 44%;
}


/*----------------Header----------------*/

h1, nav, ul{
	margin: 0px;
}

nav ul{
	padding: 0px;
}

nav li{
	background-color: lightgray;
	margin: 2px;
	width: 100%;	
}

nav li a{
	display: block;
	width: 100%;
	color: blue;
}

#home{
	background-color: gray;
}

/*----------------Imagenes----------------*/
.img, .img2{
	width: 100%;
	margin: 0 auto;
}

.img2{
	height: 100px;
}

/*----------------P//Box----------------*/

#container p{
	margin: 0px;
}

p, a{
	font-size: x-small;
}

#box{
	border: 3px solid black;
}

/*----------------Footer----------------*/
footer{
	position: fixed;
	bottom: 0px;
	height: 50px;
	width: 100%;
}

footer div{
	display: none;
}


/*----------------Desktop----------------*/
@media (min-width: 990px) {

	#container{
		width: 1000px;
		height: 565px;
	}

	#content{
		position: relative;
		height: 24%;
	}

/*----------------Header----------------*/
	h1{
		float: left;
	}

	nav{
		float: right;
		margin: 20px;
	}

	nav li{
		float: left;
		background-color: white;
		width: 100px;
	}

	nav li a{
		border-left: 2px solid black;
		padding: 2px 6px;
	}

	#home{
		border-left: none;
		background-color: white;
	}

/*----------------Article----------------*/
	article{
		float: left;
		padding: 8px;
	}

	.art_1{
		width: 35%;
	}

	.art_2{
		width: 30%;
	}

	p, a{
		font-size: small;
	}

/*----------------Footer----------------*/
	footer{
		width: 990px;
		height: 70px;
	}

	footer div{
		display: block;
		width: 440px;
		height: 20px;
		margin: 0 auto;
		margin-bottom: 10px;
	}

	footer nav{
		float: none;
		margin: 0 auto;
	}
}

@media (max-width: 460px){

	.img{
		width: 460px;
		height: 100px;
	}
}