*{
	width: 100%;
	margin: 0px;
	padding: 2px;
}

/*////////////////////////////////////////////////////////*/
/*///////////////Quitar menu e img////////////////////////*/
/*////////////////////////////////////////////////////////*/

nav, .img, .img2/*, br*/{
	display: none;
}


/*////////////////////////////////////////////////////////*/
/*////////////////////Titulos/////////////////////////////*/
/*////////////////////////////////////////////////////////*/

.blue::after  { 	
	content: "Sub-section";
	text-indent: 0; 	
	display: block;
}  

.blue { 
	color: blue;	
	text-indent: -9999px;
}

.green{
	color: green;
}

.red, .red_2{
	color: red;
	font-size: small;
}

h1{
	margin: 0px;
	text-align: center;
}


/*////////////////////////////////////////////////////////*/
/*/////////////////Box-Article-Box////////////////////*/
/*////////////////////////////////////////////////////////*/

#box{
	border: none;
	background-color: white;	
}

.unassigned{
	text-decoration: underline;
	color: blue;
}

article{
	text-align: left;
}

#box a{
	text-decoration: none;
	color: blue;
}

/*////////////////////////////////////////////////////////*/
/*/////////////////////Footer/////////////////////////////*/
/*////////////////////////////////////////////////////////*/

footer{
	border-top: 2px solid black;
	text-align: center;
}