*{
	width: 100%;
	margin: 0px;
	padding: 2px;
}

/*////////////////////////////////////////////////////////*/
/*///////////////Quitar menu e img////////////////////////*/
/*////////////////////////////////////////////////////////*/

nav, .img, .img2/*, br*/{
	display: none;
}


/*////////////////////////////////////////////////////////*/
/*////////////////////Titulos/////////////////////////////*/
/*////////////////////////////////////////////////////////*/

.blue{
	color: blue;
}

.green{
	color: green;
}

.red{
	color: red;
	font-size: small;
}

h1{
	margin: 0px;
	text-align: center;
}


/*////////////////////////////////////////////////////////*/
/*/////////////////Box-Article-Section////////////////////*/
/*////////////////////////////////////////////////////////*/

#box{
	border: none;
	background-color: white;	
}

.unassigned{
	text-decoration: underline;
	color: blue;
}

article{
	text-align: left;
}

section a{
	text-decoration: none;
	color: blue;
}

/*////////////////////////////////////////////////////////*/
/*/////////////////////Footer/////////////////////////////*/
/*////////////////////////////////////////////////////////*/

footer{
	border-top: 2px solid black;
	text-align: center;
}