/*//////////////////////////////////////////*/
/*/////////////Tipo de letra////////////////*/
/*//////////////////////////////////////////*/

*{
	font-family: cursive;
}

/*//////////////////////////////////////////*/
/*///////////////Títulos////////////////////*/
/*//////////////////////////////////////////*/

.blue{
	color: blue;
}

.green{
	color: green;
}

.red, .red_2{
	color: #8b0000;
}

.red_2{
	font-size: medium;		
}

p i{
	font-size: smaller;	
}

/*////////////////////////////////////////////*/
/*//////////Para internet Explorer ///////////*/
/*//////////10+, Microsoft Edge Browser///////*/
/*////////////////////////////////////////////*/

/*_:-ms-lang(x), .red_2 { 
  	color: red; 
  }*/ 

/*//////////////////////////////////////////*/
/*///////////////Header/////////////////////*/
/*//////////////////////////////////////////*/

h1, nav{
	text-align: center;
}

nav ul{
	list-style: none;	
}

nav li a{
	color: blue;
}

.home{
	text-decoration: none;
	border-left: none;
	color: black;	
}

/*//////////////////////////////////////////*/
/*//////////Box-Article-Box/////////////*/
/*//////////////////////////////////////////*/

#box{
	background-color: #ffffe0;	
	border: 3px solid black;
}

.unassigned{
	text-decoration: underline;
	color: blue;
}

article{
	text-align: left;
}

#box a{
	text-decoration: none;
	color: blue;
}

/*//////////////////////////////////////////*/
/*///////////////Footer/////////////////////*/
/*//////////////////////////////////////////*/

footer{
	border-top: 1px solid black;
	text-align: center;
}


/*//////////////////////////////////////////*/
/*///////////////Desktop////////////////////*/
/*//////////////////////////////////////////*/

@media (min-width: 990px){
	
	nav li{
		background-color: white;
	}

	nav li a{
		border-left: 2px solid black;
	}

	.home{
		border-left: none;
		background-color: white;
	}
}


/*//////////////////////////////////////////*/
/*///////////////Mobile/////////////////////*/
/*//////////////////////////////////////////*/

@media (max-width: 990px){

	nav li{
		background-color: lightgray;
	}

	.home{
		background-color: gray;
	}
}